html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
strike, strong, sub, sup, tt, var, b, u, i, center, ul, li, ol, dl, dt, dd, fieldset, form, label, legend,
.bg {background-color: #fbfbfb;}
#main-nav:hover {animation-duration: 3s;animation-delay: 2s;animation-iteration-count: infinite;}
